<div class="new">
<form (ngSubmit)="onstartTraining(f)" #f="ngForm">

  <mat-card >
    <mat-card-title>
      Time to start the work out
    </mat-card-title>
    <mat-card-content>

      <!-- this is the dropdown for the training items -->
      <mat-form-field appearance="fill">
        <mat-label>Choose training</mat-label>
        <mat-select ngModel name="exerice" required>
          <mat-option *ngFor="let train of training" [value]="train.id">
            {{train.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="f.invalid"  mat-flat-button> Start </button>
    </mat-card-actions>
  </mat-card>

</form>
</div>
