<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-mat-icon-button mat-list-item routerLink="/signup"  (click)="sidenav.close()">
        <mat-icon> menu </mat-icon> Sign up </a>
      <a mat-mat-icon-button mat-list-item routerLink="/login"  (click)="sidenav.close()">
        <mat-icon> alarm </mat-icon> Log in </a>
      <a mat-mat-icon-button mat-list-item routerLink="/training"  (click)="sidenav.close()">
        <mat-icon> assignment </mat-icon>Training </a>
      <a mat-mat-icon-button mat-list-item routerLink="/"  (click)="sidenav.close()">
        <mat-icon> face </mat-icon> Log out </a>

   </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button fxHide.gt-xs
       (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/">Logo</a>
      <span class="spacer"> </span>
      <div fxHide.lt-sm>
        <a routerLink="/signup"> Sign up </a>
        <a routerLink="/login"> Log in </a>
        <a routerLink="/training"> Training </a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
